*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:500px;
    width:500px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(209, 227, 227);
    box-shadow: 3px 3px 3px 3px rgba(205, 200, 200, 0.858);
    margin-top: 50px;
    padding-top:20px;
}
.container button{
    width:33%;
    height:100%;
    background:none;
    
}
.row{
    display:flex;
    height:32%;
    margin: auto;
    width:99%;
}